* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100vh;
    min-height: 100vh;
    background-color: rgb(202, 204, 206);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    caret-color: transparent;
}


.list-of-animals ul {
    list-style: none;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px;
    cursor: pointer;
    font-size: 20px;
}
.animal-info {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    gap: 15px;
}

.animal-info img {
    width: 350px;
    height: 350px;
    border: solid whitesmoke 7px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgb(109, 109, 109);
    margin-bottom: 20px;
    object-fit: cover;
}

#infoContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.animal-info h2 {
    font-weight: lighter;
    letter-spacing: 3px;
}


.animal-info h3, 
#jobInfo {
    color: rgb(20, 20, 20);
}

#age::before, 
#skills::before, .animal-info h2 {
    color: grey;
}

#age::before { content: "Age: "; }
#skills::before { content: "Skills: "; }

#skills {
    display: flex;
    flex-direction: column;
    white-space: pre-line;
    margin-bottom: 50px;
}